*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(221, 221, 221);
    font-family: 'Source Sans Pro', sans-serif;
}

.card{
    text-align: auto;
}

@media screen and (max-width: 600px) {
    body{
        background-color: rgb(255, 0, 0);
        width: 100%;
    }
}